<div class="img-wrapper">
    <img class="img-responsive basketballPic" src="images/basketball.jpeg">
    <div class="img-overlay">
        <a class="nav-link" href="/auth/login">
            <button class="btn btn-md btn-primaryGreen">Join Your Neighbors today</button>
        </a>
    </div>
</div>