<div class="img-wrapper">
    <img class="img-responsive basketballPic" src="images/basketball.jpeg">
    <div class="img-overlay">
        <button class="btn btn-md btn-primaryGreen">Join Your Neighbors today</button>
    </div>
</div>