<div class="container-fluid">
    <div class="row">
        <div class="img-wrapper">
            <img class="img-responsive basketballPic" src="images/basketball.jpeg">
            <div class="img-overlay">
                <a class="nav-link" href="/auth/login">
                    <button class="btn btn-md btn-primaryGreen">Join Your Neighbors today</button>
                </a>
            </div>
        </div>

    </div>
    <div class="row justify-content-center qouteRow">
        <div class="col-8 align-self-center">

            <p class="quote  ">Before I joined I didn't even know 2 of my neighbors, now we look forward to playing each weekend and I have
                a network of friends who I can rely on. - Future You</p>
        </div>



    </div>
    <div class="row">


    </div>


</div>