<h1>Login Page</h1>
<form action="/login" method="POST">
    <div class="form-group">
        <label for="user_email">Email:</label>
        <input type="email" class="form-control" name="user_email">
        <label for="user_password">Password:</label>
        <input type="text" class="form-control" name="user_password">
    </div>
    <div>
        <a class="google-btn" href="/auth/google"> Google+</a>
    </div>>


    <button type="submit">Login</button>