<!-- <form action="/login" method="POST">
    <div class="form-group">
        <label for="user_email">Email:</label>
        <input type="email" class="form-control" name="user_email">
        <label for="user_password">Password:</label>
        <input type="text" class="form-control" name="user_password">
    </div>-->
<div class="container-fuid greenBG">
    <div class="row justify-content-center">
        <div class="col-auto login  ">
            <h1>Let's get this b
                <i id="iconShow" class="fas fa-basketball-ball"></i>ll rollin</h1>
            <div class="btn-group">
                <a class='btn btn-googleLogin '>
                    <i class="fab fa-google-plus-g"></i>
                </a>
                <a class='btn btn-googleLogin' href="/auth/google" style="width:12em;"> Sign in with Google</a>
            </div>
        </div>
    </div>

</div>