{{#each team_data}}
<h1>{{this.team_name}}</h1>
<span>
    <form action="/match/create/{{this.id}}" method="POST">

        <button class="btn btn-orange" type="submit">Play Team</button>
    </form>
</span>
{{/each}}