/*-----------------------
   Home Page Jumbotron
-----------------------*/
/* navbar */
.bg-primaryGreen,
.btn-primaryGreen {
  background-color: #5dd39e;
  border-color: #e7e7e7;
}

.img-wrapper {
  position: relative;
  width: 100%;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  height: 33%;
}

.basketballPic {
  width: 100%;
}

/* ----------------------
          NavBar
-----------------------*/

/* ----------------------
    MyTeam Info Page
-----------------------*/

.teamInfo {
  background-color: #1aa8ce;
  text-align: center;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
}

/* ----------------------
    Login 
-----------------------*/
.loginPage {
  padding: 15px;
}

.btn-googleLogin,
.btn-group {
  background-color: #1aa8ce;
  color: white;
}
.fa-google-plus-g {
  color: white;
}

/* ----------------------
    Profile Page
-----------------------*/
.welcomePlayer {
  color: #5dd39e;
}
