/*-----------------------
   Home Page Jumbotron
-----------------------*/

.img-wrapper {
    position: relative;
    width: 100%;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    height: 33%;
}

.basketballPic {
    width: 100%;
}

/* ----------------------
          NavBar
-----------------------*/

/* ----------------------
    MyTeam Info Page
-----------------------*/

.teamInfo {
    background-color: #1aa8ce;
    text-align: center;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
}