/*-----------------------
   Home Page Jumbotron
-----------------------*/
/* navbar */
.bg-primaryGreen,
.btn-primaryGreen {
  background-color: #5dd39e;
  border-color: #e7e7e7;
}

.img-wrapper {
  position: relative;
  width: 100%;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  height: 33%;
}

.basketballPic {
  width: 100%;
}

/* ----------------------
          NavBar
-----------------------*/

/* ----------------------
    MyTeam Info Page
-----------------------*/

.teamInfo {
  text-align: center;
  border-radius: 20px;
  color: rgb(1, 114, 207);
  margin: auto 0;
}

.flag {
  position: relative;
  width: 0;
  height: 0;
  border-top: 180px solid transparent;
  border-bottom: 180px solid transparent;
  border-left: 840px solid #ff5658;
}
.flag h1 {
  text-align: center;
  top: -80px;
  left: -800px;
  font-size: 100px;
  position: absolute;
  color: rgb(9, 38, 201);

  margin: 0px;
}
.playerRow {
  margin-top: 100px;
}
.table {
  margin: 50px auto;
}

/* ----------------------
    Login 
-----------------------*/
.loginPage {
  padding: 15px;
  margin-top: 100px;
}

.btn-googleLogin,
.btn-group {
  background-color: #1aa8ce;
  color: white;
  margin-left: 70px;
}
.fa-google-plus-g {
  color: white;
}

#iconShow {
  margin-right: 3px;
  width: 40px;
  height: 40px;
  color: orange;
}

/* ----------------------
    Profile Page
-----------------------*/
.welcomePlayer {
  color: #5dd39e;
}
.fa-user-alt {
  font-weight: 900;
  font-size: 160px;
  text-align: center;
  padding: 20px;
  color: white;
}
.btn-orange {
  background-color: orange;
  color: white;
  text-align: center;
}
.card-body {
  text-align: center;
}
.card {
  background-color: #5dd39e !important;
}
